.mapFooter {
    position: absolute;
    bottom: 16px;
    right: 16px;

    width: fit-content;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-bg);
    border-radius: 16px;
}