@font-face {
  font-family: "Bold";
  src: url("../public/fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Regular";
  src: url("../public/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Medium";
  src: url("../public/fonts/Raleway-Medium.ttf");
}

:root {
  --primary-bg: #171717;
  --secondary-bg: #252525;
  --primary-text: #D8D8D8;
  --primary-accent: #9EC162;
  --error: #f53e3e;
  --success: #9EC162;
}

#root {
  height: inherit;
}

body {
  width: 100%;
  height: 100vh;

  color: var(--primary-text);
  background-color: var(--primary-bg);

  font-family: "Regular";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}